@charset "utf-8";
/* CSS Document */

.body {
    background-color: gray;
}

.row { 
    margin: 0; 
    padding: 0 
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}